@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div id="demo-counter" class="center">
    <p>Counter: <span id="demo-counter-value">0</span></p>
    <input id="demo-button" type="button" value="Click me!"/>
</div>